.router-enter {
    opacity: 0;
    transform: translateY(-20%);
  }
  .router-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: all .4s;

  }
  .router-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .router-exit-active {
    opacity: 0;
    transform: translateY(120%);
    transition: opacity .4s;
  }

  